$width: 170px;
$rowWidth: $width+6;
$height: 32px;
.base {
    display: inline-block;
    font-size: 12px;
    position: relative;
    .input {
        width: $width;
        height: $height;
        line-height: 32px;
        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid rgba(204, 204, 204, 1);
        background: linear-gradient(to bottom, rgba(253, 253, 253, 1), rgba(244, 244, 244, 1));
        user-select: none;
        color: rgba(34, 34, 34, 1);
        font-size: 0;
        font-family: Arial;
        border-radius: 3px;
        cursor: pointer;
        text-decoration: none;
        text-shadow: 0 1px 0 #f2f2f2;
        font-weight: bold;
        text-align: left;

        .value {
            font-size: 13px;
            width: ($width)-20;
            display: inline-block;
            box-sizing: border-box;
            text-align: center;
            height: 100%;
            line-height: 100%;
            .left {
                display: inline-block;
                margin-right: 5px;
            }
            .right {
                display: inline-block;
                cursor: auto;
                height: $height;
                line-height: $height;
                input[type=number] {
                    font-family: Arial;
                    font-size: 13px;
                    font-weight: bold;
                    text-align: center;
                    height: ($height)-12;
                    line-height: ($height)-12;
                    width: 20px;
                    border: none;
                    outline: none;
                    -moz-appearance: textfield;
                }
                input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
                    appearance: none;
                }
            }
        }

        .icon {
            font-size: 13px;
            display: inline-block;
            width: 20px;
        }

    }

    .input:hover {
        background: linear-gradient(to bottom, rgba(237, 237, 237, 1), rgba(219, 219, 219, 1));
        box-shadow: inset 0px 0px 2px 2px rgba(200, 200, 200, 1);
        .value .right input[type=number] {
            background: linear-gradient(to bottom, rgba(237, 237, 237, 0.5), rgba(219, 219, 219, 0.5));
            border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        }
    }

    .panel {
        z-index: 2;

        position: absolute;
        background: white;
        padding: 5px;
        border: 1px solid rgba(174, 174, 174, 1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        margin-top: 4px;
        .content {
            .contentHead {
                margin-top: 10px;
                margin-bottom: 10px;
                /*add 1 px to fit firefox*/
                width: $rowWidth+1;
                font-size: 0;
                .left, .middle, .right {
                    display: inline-block;
                    font-size: 12px;
                    text-align: center;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }

                .left, .right {
                    width: $rowWidth/4;
                }

                .middle {
                    width: $rowWidth/2;
                }

                .left:hover, .middle:hover, .right:hover {
                    user-select: none;
                    cursor: pointer;
                    background: linear-gradient(to bottom, rgba(237, 237, 237, 1), rgba(219, 219, 219, 1));
                    box-shadow: inset 0px 0px 2px 2px rgba(200, 200, 200, 1);
                }

            }
            .contentBody {
                .page {
                    .row {
                        /*add 1 px to fit firefox*/
                        width: $rowWidth+1;
                        .cell {
                            cursor: pointer;
                            user-select: none;
                            text-align: center;
                            float: left;
                            font-size: 12px;
                        }
                        .cell:hover {
                            background: linear-gradient(to bottom, rgba(237, 237, 237, 1), rgba(219, 219, 219, 1));
                            box-shadow: inset 0px 0px 2px 2px rgba(200, 200, 200, 1);
                        }
                        .cell.active {
                            background: linear-gradient(to bottom, rgba(237, 237, 237, 1), rgba(219, 219, 219, 1));
                        }

                        .year, .month {
                            width: $rowWidth/4;
                            height: $rowWidth/4;
                            line-height: $rowWidth/4;
                        }
                        .day {
                            width: $rowWidth/7;
                            height: $rowWidth/7;
                            line-height: $rowWidth/7;
                        }
                        .hour {
                            width: $rowWidth/6;
                            height: $rowWidth/6;
                            line-height: $rowWidth/6;
                        }
                        .minute, .second {
                            width: $rowWidth/10;
                            height: $rowWidth/10;
                            line-height: $rowWidth/10;
                        }

                        .day.title {
                            cursor: auto;
                        }
                        .day.title:hover {
                            background: inherit;
                            box-shadow: none;
                        }
                        .day.dark {
                            color: rgba(150, 150, 150, 0.6);
                        }

                    }
                }
            }
        }
    }
}

