.base {
  display: inline-block;
  font-size: 12px;
  position: relative; }
  .base .input {
    width: 132px;
    height: 16px;
    padding: 8px;
    border: 1px solid #cccccc;
    background: linear-gradient(to bottom, #fdfdfd, #f4f4f4);
    user-select: none;
    color: #222222;
    font-size: 0px;
    font-family: Arial;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 1px 0 #f2f2f2;
    font-weight: bold;
    text-align: left; }
    .base .input .value {
      font-size: 13px;
      width: 112px;
      display: inline-block;
      box-sizing: border-box;
      text-align: center; }
    .base .input .icon {
      font-size: 13px;
      display: inline-block;
      width: 20px; }
  .base .input:hover {
    background: linear-gradient(to bottom, #ededed, #dbdbdb);
    box-shadow: inset 0px 0px 2px 2px #c8c8c8; }
  .base .panel {
    z-index: 2;
    position: absolute;
    background: white;
    padding: 5px;
    border: 1px solid #aeaeae;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 4px; }
    .base .panel .content .contentHead {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 140px;
      font-size: 0; }
      .base .panel .content .contentHead .left, .base .panel .content .contentHead .middle, .base .panel .content .contentHead .right {
        display: inline-block;
        font-size: 12px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px; }
      .base .panel .content .contentHead .left {
        width: 35px; }
      .base .panel .content .contentHead .middle {
        width: 70px; }
      .base .panel .content .contentHead .right {
        width: 35px; }
      .base .panel .content .contentHead .left:hover, .base .panel .content .contentHead .middle:hover, .base .panel .content .contentHead .right:hover {
        user-select: none;
        cursor: pointer;
        background: linear-gradient(to bottom, #ededed, #dbdbdb);
        box-shadow: inset 0px 0px 2px 2px #c8c8c8; }
    .base .panel .content .contentBody .year .row, .base .panel .content .contentBody .month .row, .base .panel .content .contentBody .day .row {
      width: 140px; }
      .base .panel .content .contentBody .year .row .yearCell, .base .panel .content .contentBody .year .row .monthCell, .base .panel .content .contentBody .month .row .yearCell, .base .panel .content .contentBody .month .row .monthCell, .base .panel .content .contentBody .day .row .yearCell, .base .panel .content .contentBody .day .row .monthCell {
        cursor: pointer;
        user-select: none;
        text-align: center;
        width: 35px;
        height: 35px;
        line-height: 35px;
        float: left;
        font-size: 12px; }
      .base .panel .content .contentBody .year .row .dayCell, .base .panel .content .contentBody .month .row .dayCell, .base .panel .content .contentBody .day .row .dayCell {
        cursor: pointer;
        user-select: none;
        text-align: center;
        width: 20px;
        height: 20px;
        line-height: 20px;
        float: left;
        font-size: 12px; }
      .base .panel .content .contentBody .year .row .dayCell.title, .base .panel .content .contentBody .month .row .dayCell.title, .base .panel .content .contentBody .day .row .dayCell.title {
        cursor: auto; }
      .base .panel .content .contentBody .year .row .dayCell.title:hover, .base .panel .content .contentBody .month .row .dayCell.title:hover, .base .panel .content .contentBody .day .row .dayCell.title:hover {
        background: inherit;
        box-shadow: none; }
      .base .panel .content .contentBody .year .row .dayCell.dark, .base .panel .content .contentBody .month .row .dayCell.dark, .base .panel .content .contentBody .day .row .dayCell.dark {
        color: rgba(150, 150, 150, 0.6); }
      .base .panel .content .contentBody .year .row .yearCell:hover, .base .panel .content .contentBody .year .row .monthCell:hover, .base .panel .content .contentBody .year .row .dayCell:hover, .base .panel .content .contentBody .month .row .yearCell:hover, .base .panel .content .contentBody .month .row .monthCell:hover, .base .panel .content .contentBody .month .row .dayCell:hover, .base .panel .content .contentBody .day .row .yearCell:hover, .base .panel .content .contentBody .day .row .monthCell:hover, .base .panel .content .contentBody .day .row .dayCell:hover {
        background: linear-gradient(to bottom, #ededed, #dbdbdb);
        box-shadow: inset 0px 0px 2px 2px #c8c8c8; }
      .base .panel .content .contentBody .year .row .yearCell.active, .base .panel .content .contentBody .year .row .monthCell.active, .base .panel .content .contentBody .year .row .dayCell.active, .base .panel .content .contentBody .month .row .yearCell.active, .base .panel .content .contentBody .month .row .monthCell.active, .base .panel .content .contentBody .month .row .dayCell.active, .base .panel .content .contentBody .day .row .yearCell.active, .base .panel .content .contentBody .day .row .monthCell.active, .base .panel .content .contentBody .day .row .dayCell.active {
        background: linear-gradient(to bottom, #ededed, #dbdbdb); }
