body {
  overflow: hidden; }

.base .container .item {
  user-select: none;
  overflow: hidden; }
.base .dots {
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: transparent; }
  .base .dots .dot {
    cursor: pointer;
    margin-top: 20px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #d6d6d6; }
  .base .dots .dot:first-child {
    margin-top: 0; }
  .base .dots .dot:hover {
    background-color: #869791; }
  .base .dots .dot.active {
    background-color: #869791; }
