.base {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 13px;
  user-select: none; }
  .base .input {
    min-width: 50px;
    height: 16px;
    padding: 8px;
    border: 1px solid #cccccc;
    background: linear-gradient(to bottom, #fdfdfd, #f4f4f4);
    color: #222222;
    font-family: Arial;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 1px 0 #f2f2f2;
    font-weight: bold;
    text-align: left; }
    .base .input i {
      margin-left: 5px; }
  .base .input:hover {
    background: linear-gradient(to bottom, #ededed, #dbdbdb);
    box-shadow: inset 0px 0px 2px 2px #c8c8c8; }
  .base .panel {
    z-index: 2;
    position: absolute;
    background: white;
    padding: 5px;
    border: 1px solid #aeaeae;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 4px; }
    .base .panel .checkAll {
      font-size: 14px;
      padding: 5px; }
      .base .panel .checkAll input[type=checkbox] {
        cursor: pointer;
        width: 24px;
        height: 24px;
        vertical-align: middle; }
      .base .panel .checkAll label {
        vertical-align: middle; }
    .base .panel .checkAll:hover {
      background-color: #eeeeee; }
    .base .panel .options .column {
      display: inline-block;
      margin-top: 10px;
      vertical-align: top; }
      .base .panel .options .column div {
        padding: 5px;
        height: 30px;
        vertical-align: middle; }
        .base .panel .options .column div input[type=checkbox] {
          cursor: pointer;
          vertical-align: middle;
          width: 24px;
          height: 24px; }
        .base .panel .options .column div label {
          vertical-align: middle; }
      .base .panel .options .column div:hover {
        background-color: #eeeeee; }
