@charset "UTF-8";
.base {
    position: relative;
    overflow: hidden;
    .container {
        .item {
            vertical-align: top;
            user-select: none;
            display: inline-block;
            background-color: transparent;
            .inner {
                background-color: white;
                margin: 10px;
            }
        }

        .enter {
            opacity: 0;
            transition: opacity 5s ease-in;
        }
        .enter.enterActive {
            opacity: 0.5;
        }
        .leave {
            margin-left: -100%;
            transition: marginLeft 5s ease-in;
        }
        .leave.leaveActive {
            margin-left: -100%;
        }
        .appear {
            margin-left: 100%;
        }
        .appear.appearActive {
            margin-left: 0;
            transition: marginLeft 5s ease-in;
        }

    }

    .dots {
        height: 10px;
        background-color: transparent;
        text-align: center;
        padding-bottom: 10px;
        .dot {
            display: inline-block;
            cursor: pointer;
            margin-left: 20px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: rgba(214, 214, 214, 1);
        }
        .dot:first-child {
            margin-left: 0;
        }
        .dot:hover {
            background-color: rgba(134, 151, 145, 1);
        }
        .dot.active {
            background-color: rgba(134, 151, 145, 1);
        }
    }

}