.base {
    display: inline-block;
    position: relative;

    $backColor: rgba(242, 242, 242, 1);
    $fontColor: rgba(68, 68, 68, 1);
    $hoverBackColor: rgba(229, 229, 229, 1);
    $activeFontColor: rgba(0, 0, 0, 0.8);

    .menu {
        display: inline-block;
        font-size: 12px;
        width: 200px;
        background-color: $backColor;
        .li {
            padding-left: 40px;
            height: 40px;
            line-height: 40px;
            margin-top: 10px;
            font-size: 16px;
            cursor: pointer;
            color: $fontColor;
        }
        .li:hover {
            background-color: $hoverBackColor !important;
        }
        .liActive {
            padding-left: 40px;
            height: 40px;
            line-height: 40px;
            margin-top: 10px;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
            color: $activeFontColor !important;
        }
    }

    .content {
        display: inline-block;
        vertical-align: top;
        margin-left: 50px;
    }
}